/* body {
    display: flex;
    flex-direction: column;
} */

#header-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
}

#footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
}

.content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}

a {
    color: green;
    font-size: 1.5em;
    text-decoration: none;
}

a:hover,
.page-selected {
    background-color: green;
    color: white;
}

.menu-items {
    display: flex;
    justify-content: space-between;
}